a.fullbutton.submit {
    width: 100%;
    float: left;
    padding: 15px;
    background-color: green;
    color: white;
    text-align: center;
}

input, textarea {
    padding: 15px;
    background: rgba(255, 255, 255, 0.22);
    border: none;
    margin-bottom: 5px;
}

textarea {
    height: 150px;
}